{% extends "inshack_scoreboard/layout.html" %}
{% load staticfiles %}
{% load get_item %}

{% block admin_active %}active{% endblock %}
{% block title %}{{ block.super }} | Admin{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>
                    Admin actions
                </h1>
                <p>
                    On this page you will perform admin actions (that might change the CTF state). Please <b>be
                    careful</b> and ask someone if you're not sure of what you're doing.
                </p>
            </div>
        </div>
    </div>

    <h2>News</h2>
    <a class="btn btn-success" id="news-control" aria-expanded="false">
        Show News
    </a>
    <div id="news-content">
        <div class="row" style="margin-bottom: 30px">
            <div class="col">
                <div class="card card-block">
                    <h2 style="margin-bottom: 25px">Post a news</h2>
                    <form action="{% url "news:add" %}" method="post">
                        {% csrf_token %}
                        {% for field in news_form %}
                            <div class="md-form {% if field.errors %}has-error{% endif %}">
                                {{ field }}
                                <label for="id_{{ field.name }}">{{ field.label }}</label>
                                {% for error in field.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <input type="submit" class="btn btn-success btn-sm" value="Post news">
                    </form>
                </div>
            </div>
        </div>
        {% for n in news %}
            <div class="row" style="margin-bottom: 30px">
                <div class="col">
                    <div class="card card-block">
                        {{ n.text }}
                        <i style="text-align: right;">{{ n.updated_date }} ({{ n.updated_date.tzname }})</i>
                        {% if request.user.is_staff %}
                            <a href="#"
                               onclick="event.preventDefault();if(confirm('Are you sure you want to delete this news?')){document.forms['delete_news_{{ n.pk }}'].submit();}"
                               class="btn btn-danger btn-sm" style="width: 150px"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Delete</a>
                            <form method="POST" id="delete_news_{{ n.pk }}"
                                  action="{% url "news:delete" n.pk %}">{% csrf_token %}</form>
                            <a href="{% url 'news:modify' n.pk %}" class="btn btn-warning btn-sm"
                               style="width: 150px"><i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;Modify</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <hr>
    <h2>Challenges</h2>
    <a class="btn btn-success" href="{% url 'challenges:add' %}"> <i class="fa fa-plus"></i> Add Challenge</a>
    <a class="btn btn-success" id="challenges-control" aria-expanded="false">
        Show challenges
    </a>
    <div id="challenges">
        {% if ctf_has_been_started and challenges %}
            {% for code, category in categories %}
                <h2 style="margin-top: 30px">{{ category }}</h2>
                <hr>
                <div class="row">
                    {% for chall in challenges %}
                        {% if chall.category == code %}
                            <div class="col-lg-6" style="padding-left: 10px;padding-right: 10px;">
                                <!--Rotating card-->
                                <div class="card-wrapper" style="height: 400px;">
                                    <div id="card-{{ chall.id }}" class="card-rotating effect__click">

                                        <!--Front Side-->
                                        <div class="face front card hand"
                                             {% if chall in request.user.teamprofile.validated_challenges.all %}style="background-color: rgb(108, 198, 99);"{% endif %}
                                             onclick="reveal(this)" data-card="card-{{ chall.id }}">
                                            <!--Content-->
                                            <div class="content">
                                                <h4>
                                                    {% if chall in request.user.teamprofile.validated_challenges.all %}
                                                        <i class="fa fa-flag-checkered"
                                                           style="color: darkgreen"></i>{% endif %}
                                                    {{ chall.name }}
                                                    {% if chall in request.user.teamprofile.validated_challenges.all %}
                                                        <i class="fa fa-flag-checkered"
                                                           style="color: darkgreen"></i>{% endif %}
                                                    {% if request.user.is_staff %}
                                                        <i {% if chall.is_enabled %}class="fa fa-toggle-on"
                                                           style="color: darkgreen"
                                                           {% else %}class="fa fa-toggle-off" style="color: darkred"
                                                           {% endif %}>
                                                        </i>
                                                    {% endif %}
                                                </h4>
                                                <hr>
                                                <div class="text-center" style="margin-top:120px">
                                                    <div class="status"
                                                         style="margin-top: {% if chall.is_ovh_chall %}-60px{% else %}-25px{% endif %};margin-bottom: 15px;">
                                                        {% if chall.is_ovh_chall %}
                                                            <img src="https://www.ovh.com/fr/news/logos/normal/logo-ovh-black-72DPI.png"
                                                                 alt="An OVH challenge!" class="img-fluid"
                                                                 style="margin: auto auto 20px;width: 70px">
                                                        {% endif %}
                                                        {% if challenges_states|get_item:chall.slug %}
                                                            <i class="fa fa-battery-4"
                                                               style="color: darkgreen;"></i> Status: OK
                                                        {% else %}
                                                            <i class="fa fa-battery-0" style="color: darkred"></i>
                                                            Status: Error
                                                        {% endif %}
                                                    </div>
                                                    <h3>{{ chall.get_category_display }} {{ chall.nb_points }}</h3>
                                                    <hr width="50%">
                                                    <h4>{{ chall.nb_of_validations }}
                                                        validation{{ chall.nb_of_validations|pluralize }}</h4>
                                                </div>

                                            </div>
                                            <!--/.Content-->
                                        </div>
                                        <!--/.Front Side-->

                                        <!--Back Side-->
                                        <div class="face back">

                                            <!--Title-->
                                            <h4 class="card-title">{{ chall.name }} -
                                                <small>{{ chall.category }} {{ chall.nb_points }}</small>
                                                <i class="fa fa-close rotate-btn"
                                                   data-card="card-{{ chall.id }}" onclick="reveal(this)"></i>
                                                {% if request.user.is_staff %}
                                                    <a href="{% url "challenges:update" chall.slug %}"
                                                       class="btn btn-orange btn-sm">Update</a>
                                                    <a href="#"
                                                       onclick="event.preventDefault();if(confirm('Are you sure you want to delete this challenge?')){document.forms['delete_chall_{{ chall.id }}'].submit();}"
                                                       class="btn btn-danger btn-sm">Delete</a>
                                                    <form method="POST" id="delete_chall_{{ chall.id }}"
                                                          action="{% url "challenges:delete" chall.slug %}">{% csrf_token %}</form>
                                                {% endif %}
                                            </h4>
                                            <hr>
                                            <div class="content" style="overflow-y: scroll; height:200px;">
                                                <p>
                                                    {{ chall.description|safe }}
                                                </p>
                                                {% if chall.chall_file %}
                                                    <a href="{{ chall.chall_file }}"
                                                       class="btn btn-sm btn-blue-grey" target="_blank" download><i
                                                            class="fa fa-file-archive-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Challenge's
                                                        file</a>
                                                {% endif %}
                                            </div>
                                            <br>
                                            <form id="chall_{{ chall.id }}" class="flag_form">
                                                <div class="form-group row">
                                                    <div class="col-8">
                                                        <div class="md-form">
                                                            <input type="text" id="id_flag_chall_{{ chall.id }}"
                                                                   name="flag" class="form-control flag">
                                                            <label for="id_flag_chall_{{ chall.id }}">The flag</label>
                                                            {% for error in field.errors %}
                                                                <p class="text-danger">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>

                                                    </div>
                                                    {% csrf_token %}

                                                    <div class="col-4">
                                                        <button type="submit" class="btn btn-default">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!--/.Back Side-->

                                    </div>
                                </div>
                                <!--/.Rotating card-->
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <hr>
    <h2 style="margin-top: 15px">Get emails</h2>
    <a target="_blank" href="{% url 'team:get_all_mails' %}?show_only_contactable=no" class="btn btn-info btn-sm">All
        emails</a>
    <a target="_blank" href="{% url 'team:get_all_mails' %}?show_only_contactable=yes" class="btn btn-info btn-sm">"Contactable"
        emails</a>
    <hr>
    <h2>Handle Teams</h2>
    <a href="http://demo.hugodelval.com:8081/admin/user_manager/teamprofile/" class="btn btn-info btn-sm">Add a team to
        on-site teams</a>
    <a href="http://demo.hugodelval.com:8081/admin/user_manager/teamprofile/" class="btn btn-info btn-sm">Add bug bounty
        points to a team</a>
    <hr>
    <h2>Handle CTF state</h2>
    Current CTF state: <b>{{ ctf_state }}</b>
    <!--
    <br>
    <a class="btn btn-default" onclick="$('form#notstarted').submit()">CTF not Started</a>
    -->

    {% if ctf_state != "Not started" %}
        <!--
    {% endif %}
    <br>
    <a class="btn btn-success" onclick="$('form#start').submit()">Start CTF</a>
    {% if ctf_state != "Not started" %}
        -->
{% endif %}

    {% if ctf_state != "Globally started" %}
        <!--
    {% endif %}
    <br>
    <a class="btn btn-warning" onclick="$('form#lock_local').submit()">Froze local scoreboard</a>
    {% if ctf_state != "Globally started" %}
        -->
{% endif %}

    {% if ctf_state != "On site scoreboard hidden" %}
        <!--
    {% endif %}
    <br>
    <a class="btn btn-danger" onclick="$('form#stop_local').submit()">Stop local scoreboard</a>
    {% if ctf_state != "On site scoreboard hidden" %}
        -->
{% endif %}

    {% if ctf_state != "On site end" %}
        <!--
    {% endif %}
    <br>
    <a class="btn btn-warning" onclick="$('form#lock_global').submit()">Lock global scoreboard</a>
    {% if ctf_state != "On site end" %}
        -->
{% endif %}

    {% if ctf_state != "Online scoreboard hidden" %}
        <!--
    {% endif %}
    <br>
    <a class="btn btn-danger" onclick="$('form#stop_ctf').submit()">Stop CTF</a>
    {% if ctf_state != "Online scoreboard hidden" %}
        -->
{% endif %}

    <form id="notstarted" method="POST" action="{% url 'challenges:ctf_not_started' %}">
        {% csrf_token %}
    </form>
    <form id="start" method="POST" action="{% url 'challenges:start_ctf' %}">
        {% csrf_token %}
    </form>
    <form id="lock_local" method="POST" action="{% url 'challenges:freeze_local_scoreboard' %}">
        {% csrf_token %}
    </form>
    <form id="stop_local" method="POST" action="{% url 'challenges:stop_local_scoreboard' %}">
        {% csrf_token %}
    </form>
    <form id="lock_global" method="POST" action="{% url 'challenges:freeze_global_scoreboard' %}">
        {% csrf_token %}
    </form>
    <form id="stop_ctf" method="POST" action="{% url 'challenges:end_ctf' %}">
        {% csrf_token %}
    </form>
{% endblock %}

{% block javascript %}
    <script>
        function reveal(card) {
            var t = $(card).attr("data-card");
            $("#" + t).toggleClass("flipped");
        }

        $(document).ready(function () {
            $(".close").on('click', function () {
                var t = $(this).attr("data-card");
                $("#" + t).toggleClass("flipped");
            });
            var chall_area = $("#challenges");
            var challenges = chall_area.html();
            chall_area.html("");
            $("#challenges-control").on('click', function () {
                if ($(this).attr("aria-expanded") == "true") {
                    chall_area.html("");
                    $(this).text("Show challenges");
                    $(this).attr("aria-expanded", "false");
                } else {
                    chall_area.html(challenges);
                    $(this).text("Hide challenges");
                    $(this).attr("aria-expanded", "true");
                }
            });

            var news_area = $("#news-content");
            var news = news_area.html();
            news_area.html("");
            $("#news-control").on('click', function () {
                if ($(this).attr("aria-expanded") == "true") {
                    news_area.html("");
                    $(this).text("Show news");
                    $(this).attr("aria-expanded", "false");
                } else {
                    news_area.html(news);
                    $(this).text("Hide news");
                    $(this).attr("aria-expanded", "true");
                }
            });
        });
    </script>
{% endblock %}